<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Akelax-Technologie</title>
    <meta name="description" content="Official website for Akeax-Technology" />
    <meta name="keywords" content="Akelax-Technologie website, Akelax technologie, akelax technologie congo kinshasa, akela technology, akelax, akelax entreprise, akelax technologie startup" />
    <meta name="author" content="Akelax-Technology" />


    <!-- Favicons -->
    <link href="/static/img/lax_logo.png" rel="icon">

    <!-- CSS  -->
    <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />

    <script src="/static/css/materialize.min.css"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>

<body>
    <header>

        <nav class="light-blue lighten-1">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo"><img id='nav-logo' src="/static/img/FB_IMG_15999411914313327.jpg" alt="logo d'akelax technologie"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/connexion"><i class="material-icons left">local_phone</i>Se connecter</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="/connexion">se connecter<i class="material-icons right">local_phone</i></a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>

    <div id="index-banner" class="parallax-container intro">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center text-lighten-2 wow fadeInDown">Welcome in Akelax Technology</h1>
                <div class="row center">
                    <h5 class="header col s12 light wow fadeInUp">Soucieux de participer au developpement technologique de notre pays, nous travaillons dur pour vous proposer des solutions innovantes et toujours à la pointe.</h5>
                </div>
                <div class="row center">
                    <a href="{% url 'connexion' %}" id="download-button" class="btn-large waves-effect light-blue darken-2 lighten-1">Se connecter</a>
                </div>
                <br><br>

            </div>
        </div>
    </div>

    <footer class="page-footer  light-blue darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Merci de nous faire confiance</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Nos partenaires</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Posibility agency</a></li>
                        <li><a class="white-text" href="#!">Aurora computing college</a></li>
                        <li><a class="white-text" href="#!">etc ...</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Notre equipe</h5>
                    <ul>
                        <li><a class="light white-text" href="https://merdi-akelax.github.io/">Merdi Kambembe</a></li>
                        <li><a class="light white-text" href="">Gloire Belanganayi</a></li>
                        <li><a class="light white-text" href="#!">Glodie Nsala</a></li>
                        <li><a class="light white-text" href="#!">Elie Junior</a></li>
                        <li><a class="light white-text" href="#!">Michael Tshiala</a></li>
                        <li><a class="light white-text" href="#!">Valentin Neron</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by: <a class="orange-text text-lighten-3" href="http://merdi-akelax.github.io">Merdi Akelax</a>
            </div>
        </div>
    </footer>


    <a href="#" class="back-to-top"><i class="material-icons">arrow_upward</i></a>

    <!--  Scripts-->
    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>

</body>

</html>